@media screen and (max-width: 540px) {
  div#itemListArea {
    border: 0px solid red;
    height: 2000px;
    width: 100%;
    position: relative;
    top: 260px;

  }

  div.item {
    border: 0px solid black;
    height: 450px;
    width: 100%;
    position: relative;
  }

  div.itemImage {
    border: 0px solid green;
    height: 400px;
    width: 100%;

    overflow: hidden;
  }

  div.itemImage img.listPage_Image {
    height: auto;
    width: 100%;
    object-fit: fill;
    object-position: initial;
  }

  div.itemImage img.listPage_Image:hover {
    filter: opacity(60%);
  }

  div.listPage_detail {
    border: 0px solid orange;
    height: 50px;
    width: 100%;

    text-align: center;
  }

  div.listPage_title {
    color: darkslategray;
  }

  div.listPage_Price {
    color: black;
  }

  div#subMenuArea {
    border: 0px solid green;
    width: 100%;
    height: 150px;
    position: absolute;
    top: 100px;

  }

  div#subMenuArea div.subMenuImageArea {
    border: 0px solid orange;
    height: 100px;
    width: 100px;
    margin-left: 35%;
    overflow: hidden;
    margin-top: 5px;
  }

  div#subMenuArea div.subMenuImageArea img {
    height: 150px;
    width: 100px;
  }

  div#subMenuArea div.subMenu {
    border: 0px solid blueviolet;
  }

  div#subMenuArea div.subMenu ul {
    display: flex;
    justify-content: center;
    width: 100%;
    border: 0px solid greenyellow;
    cursor: pointer;
  }

  div#subMenuArea div.subMenu ul li {
    border: 0px solid red;
    margin-top: 5px;
    display: block;
    width: 100px;
    cursor: pointer;
    text-align: center;
  }

  div#subMenuArea div.subMenu ul li a {
    padding: 6px 10px 8px 10px;
    font-size: 20px;

    color: darkgrey;
    border: 0px solid orange;
  }

  div#subMenuArea div.subMenu ul li a:hover {
    color: black;
  }

  div#subMenuArea div.subMenu ul li a.selected {
    color: black;
  }

  div#subMenuArea div.subMenu ul.submenu {
    display: none;
  }

  div#subMenuArea div.subMenu ul.submenu.active {
    display: flex;
  }

  /* 1024추가 로딩화면*/
  div#loadingZone {
    position: absolute;
    top: 500px;
    left: 44%;
  }
  div#loadingZone img {
    height: 150px;
    width: 150px;
  }

  /*1025추가 찜하기*/
  .fa-heart {
    position: absolute;
    top: 20px;
    left: 40px;
    z-index: 9999;
    font-size: 30px;
    color: gray;
  }

  .red {
    color: hotpink;
  }

  .fa-heart-circle-check.darkgray {
    color: lightpink;
  }

  .sidebar.right {
    top: 0;
    right: 0;
    bottom: 0;
    width: 270px;
    background: #448AFF;
  }

  div.wishListArea.likeToggle {
    right: 20px;
  }

  .fa-heart-circle-check {
    position: absolute;
    top: 280px;
    right: 0;
    font-size: 80px;
    color: lightgray;
  }

  div.wishListArea {
    position: absolute;
    top: 380px;
    right: -40px;
    width: 60px;
    height: 1000px;
    transition: all 1s;
  }

  img.likeBtn-img {
    height: 120px;
    width: 90px;
  }
}

@media screen and (min-width: 1024px) {
  h2#toggleBtn {
    display: none;
  }

  div#itemListArea {
    border: 0px solid red;
    height: 2000px;
    width: 80%;
    position: relative;
    top: 380px;
    margin-left: 15%;
  }

  div.item {
    border: 0px solid black;
    height: 450px;
    width: 430px;
    margin-top: 0px;
    float: left;
    position: relative;
  }

  div.itemImage {
    border: 0px solid green;
    height: 400px;
    width: 400px;
    margin-left: 25px;
    overflow: hidden;
  }

  div.itemImage img.listPage_Image {
    height: auto;
    width: 100%;
    object-fit: fill;
    object-position: initial;
  }

  div.itemImage img.listPage_Image:hover {
    filter: opacity(60%);
  }

  div.listPage_detail {
    border: 0px solid orange;
    height: 50px;
    width: 400px;
    margin-left: 25px;
    text-align: center;
  }

  div.listPage_title {
    margin-top: 8px;
    color: darkslategray;
    font-size: 18px;
    font-weight: bold;
  }

  div.listPage_Price {
    color: black;
    font-size: 16px;
  }

  div#subMenuArea {
    border: 0px solid green;
    width: 350px;
    height: 150px;
    position: absolute;
    top: 210px;
    margin-left: 40%;
  }

  div#subMenuArea div.subMenuImageArea {
    border: 0px solid orange;
    height: 100px;
    width: 100px;
    margin-left: 35%;
    overflow: hidden;
    margin-top: 5px;
  }

  div#subMenuArea div.subMenuImageArea img {
    height: 150px;
    width: 100px;
  }

  div#subMenuArea div.subMenu {
    border: 0px solid blueviolet;
  }

  div#subMenuArea div.subMenu ul {
    display: flex;
    justify-content: center;
    width: 100%;
    border: 0px solid greenyellow;
    cursor: pointer;
  }

  div#subMenuArea div.subMenu ul li {
    border: 0px solid red;
    margin-top: 5px;
    cursor: pointer;
  }

  div#subMenuArea div.subMenu ul li a {
    padding: 6px 10px 8px 10px;
    font-size: 20px;
    color: darkgrey;
    border: 0px solid orange;
  }

  div#subMenuArea div.subMenu ul li a:hover {
    color: black;
  }

  div#subMenuArea div.subMenu ul li a.selected {
    color: black;
  }

  div#subMenuArea div.subMenu ul.submenu {
    display: none;
  }

  div#subMenuArea div.subMenu ul.submenu.active {
    display: flex;
  }

  /* 1024추가 로딩화면*/
  div#loadingZone {
    position: absolute;
    top: 500px;
    left: 45%;
  }

  div#loadingZone img {
    height: 150px;
    width: 150px;
  }

  /*1025추가 찜하기*/
  .fa-heart {
    position: absolute;
    top: 20px;
    left: 40px;
    z-index: 9999;
    font-size: 30px;
    color: gray;
  }

  .red {
    color: hotpink;
  }

  .fa-heart-circle-check.darkgray {
    color: lightpink;
  }

  .sidebar.right {
    top: 0;
    right: 0;
    bottom: 0;
    width: 270px;
    background: #448AFF;
  }

  div.wishListArea.likeToggle {
    right: 20px;
  }

  .fa-heart-circle-check {
    position: absolute;
    top: 280px;
    right: 0;
    font-size: 80px;
    color: lightgray;
  }

  div.wishListArea {
    position: absolute;
    top: 380px;
    right: -40px;
    width: 60px;
    height: 1000px;
    transition: all 1s;
  }

  img.likeBtn-img {
    height: 120px;
    width: 90px;
  }
}