@media screen and (max-width: 540px) {
  /*상세보기 영역*/
  div#itemSpecArea {
    border: 0px solid red;
    width: 100%;
    height: 800px;
    position: relative;
    margin: 0 auto 0 auto;
    top: 50px;
  }
  div#itemSpecArea:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* div.itemSpec {
    border: 2px solid black;
  } */
  /*상품 이미제 여역*/
  div.imgArea {
    border: 0px solid purple;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    float: left;
  }
  div.imgArea img#mainImage {
    border: 0px solid black;
    height: 600px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 9%;
  }
  div.imgArea div.thumbnailEdge {
    border: 1px solid black;
    height: 11%;
    width: 21%;
    position: absolute;
    overflow: hidden;
  }
  div.imgArea img.thumbnail {
    height: auto;
    width: 100%;
    position: absolute;
    top: -10px;
    border:0px solid red;
  }
  div.imgArea img.thumbnail:hover {
    filter: opacity(60%);
  }
  div.imgArea div.thumb1 {
    left: 0%;
    top: 85%;
  }
  div.imgArea div.thumb2 {
    left: 26%;
    top: 85%;
  }
  div.imgArea div.thumb3 {
    left: 52%;
    top: 85%;
  }
  div.imgArea div.thumb4 {
    left: 78%;
    top: 85%;
  }
  /*상품 정보*/
  div.itemDetail {
    border: 0px solid orange;
    width: 100%;
    height: 80%;
    position: absolute;
    top: 95%;
    left: 0;
  }
  div.itemDetail div.itemTitleArea {
    border-bottom: 1px solid lightgray;
    width: 100%;
    height: 50px;
    margin-top: 5%;
    text-align: center;
  }

  div.itemDetail div.itemTitleArea h3#itemTitle {
   
    font-size: 40px;
    font-weight: 400;
  }

  div.itemDetail div.itemPriceArea {
    width: 100%;
    height: 50px;
   
    text-align: center;
    font-size: 32px;
  }
  /*사이즈 버튼*/
  div.itemDetail div.sizeBtnArea {
    position: relative;
    width: 100%;
    height: 100px;
    border: 0px solid blue;
    display: flex;
    justify-content: space-between;
  }
  div.itemDetail div.sizeBtnArea button {
    height: 100px;
    width: 100px;
    font-size: 40px;
    font-weight: bold;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 10px;
  }
  div.itemDetail div.sizeBtnArea button:hover {
    background-color: lightgray;
  }

  div.itemDetail div.sizeBtnArea button.selectedButton {
    border: 2px solid black;
  }

  /*수량 조정 버튼*/
  div.itemDetail div.quantityArea {
    width: 100%;
    height: 45px;
    border: 0px solid yellow;
    margin-top: 20px;
    text-align: center;
  }
  div.itemDetail div.quantityArea span#quantity {
    font-size: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }
  div.itemDetail div.quantityArea button {
    height: 70px;
    width: 70px;
    font-size: 40px;
    font-weight: bold;
    background-color: lightgray;
    border: 1px solid lightgray;
    border-radius: 10px;
  }

  /*상세 페이지의 결제금액*/
  div.itemDetail div.specPage_totalPriceArea {
    width: 100%;
    height: 40px;
    border: 0px solid darkcyan;
    margin-top: 30px;
  }
  div.itemDetail div.specPage_totalPriceArea .specPage_totalTxt {
    font-weight: bold;
    display: inline-block;
    font-size: 32px;
    margin-left: 10px;
  }
  #specPage_totalPrice {
    font-weight: bold;
    font-size: 35px;
    display: inline-block;
    padding-left: 80px;
    
  }

  /*장바구니 넣기*/
  div.itemDetail button.addToCart {
    height: 60px;
    width: 100%;
    font-size: 32px;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 10px;
    margin-top: 40px;
  }
  div.itemDetail button.addToCart:hover {
    background-color: lightgray;
  }
  /*장바구니로 이동하기*/
  div.itemDetail button.viewCart {
    height: 60px;
    width: 100%;
    font-size: 32px;
    border: 2px solid lightgray;
    border-radius: 10px;
    background-color: lightgrey;
    color: white;
    margin-top: 10px;
  }
  div.itemDetail button.viewCart:hover {
    background-color: black;
    color: white;
  }
  div.itemDetail button.viewCart a {
    color: white;
  }
  div.itemInfoArea {
    width: 100%;
    border: 0px solid black;
  }
  div.itemInfoArea p {
    /* white-space: pre; */
    text-align: center;
    white-space: pre-line;
    line-height: 22px;
  }
}
@media screen and (min-width: 1024px) {
  h2#toggleBtn {
    display: none;
  }
  /*상세보기 영역*/
  div#itemSpecArea {
    border: 0px solid red;
    width: 80%;
    height: 800px;
    position: relative;
    margin: 0 auto 0 auto;
    top: 200px;
  }
  div#itemSpecArea:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* div.itemSpec {
    border: 2px solid black;
  } */
  /*상품 이미제 여역*/
  div.imgArea {
    border: 0px solid purple;
    width: 55%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
  }
  div.imgArea img#mainImage {
    border: 0px solid black;
    height: 600px;
    width: 430px;
    position: absolute;
    left: 20%;
    top: 9%;
  }
  div.imgArea div.thumbnailEdge {
    border: 0px solid black;
    height: 90px;
    width: 90px;
    position: absolute;
    overflow: hidden;
  }
  div.imgArea img.thumbnail {
    height: 120px;
    width: 90px;
    position: absolute;
    top: -10px;
  }
  div.imgArea img.thumbnail:hover {
    filter: opacity(60%);
  }
  div.imgArea div.thumb1 {
    left: 5%;
    top: 20%;
  }
  div.imgArea div.thumb2 {
    left: 5%;
    top: 35%;
  }
  div.imgArea div.thumb3 {
    left: 5%;
    top: 50%;
  }
  div.imgArea div.thumb4 {
    left: 5%;
    top: 65%;
  }
  /*상품 정보*/
  div.itemDetail {
    border: 0px solid orange;
    width: 45%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 55%;
  }
  div.itemDetail div {
    margin-bottom: 15px;
  }
  div.itemDetail div.itemTitleArea {
    border: 0px solid pink;
    width: 100%;
    height: 50px;
    margin-top: 9%;
  }

  div.itemDetail div.itemTitleArea h3#itemTitle {
    font-size: 32px;
  }

  div.itemDetail div.itemPriceArea {
    width: 100%;
    height: 50px;
    border: 0px solid green;
    font-weight: bold;
    font-size: 20px;
  }
  /*사이즈 버튼*/
  div.itemDetail div.sizeBtnArea {
    width: 50%;
    height: 50px;
    border: 0px solid blue;
    display: flex;
    justify-content: space-between;
  }
  div.itemDetail div.sizeBtnArea button {
    height: 50px;
    width: 50px;
    font-size: 25px;
    font-weight: bold;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 10px;
  }
  div.itemDetail div.sizeBtnArea button:hover {
    background-color: lightgray;
  }

  div.itemDetail div.sizeBtnArea button.selectedButton {
    border: 2px solid black;
  }

  /*수량 조정 버튼*/
  div.itemDetail div.quantityArea {
    width: 100%;
    height: 45px;
    border: 0px solid yellow;
  }
  div.itemDetail div.quantityArea button {
    height: 30px;
    width: 30px;
    font-size: 20px;
    font-weight: bold;
    background-color: lightgray;
    border: 1px solid lightgray;
    border-radius: 10px;
  }

  /*상세 페이지의 결제금액*/
  div.itemDetail div.specPage_totalPriceArea {
    width: 100%;
    height: 40px;
    border: 0px solid darkcyan;
  }
  div.itemDetail div.specPage_totalPriceArea .specPage_totalTxt {
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
   
  }
  #specPage_totalPrice {
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    padding-left: 60px;
    
  }

  /*장바구니 넣기*/
  div.itemDetail button.addToCart {
    height: 40px;
    width: 150px;
    font-size: 20px;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 10px;
  }
  div.itemDetail button.addToCart:hover {
    background-color: lightgray;
  }
  /*장바구니로 이동하기*/
  div.itemDetail button.viewCart {
    height: 40px;
    width: 150px;
    font-size: 20px;
    border: 2px solid lightgray;
    border-radius: 10px;
    background-color: lightgrey;
    color: white;
  }
  div.itemDetail button.viewCart:hover {
    background-color: black;
    color: white;
  }
  div.itemDetail button.viewCart a {
    color: white;
  }
  div.itemInfoArea {
    width: 410px;
    border: 0px solid black;
  }
  div.itemInfoArea p {
    /* white-space: pre; */
    white-space: pre-line;
    line-height: 22px;
  }

  /*상품 정보 종료*/
  /*상세보기 영역 종료*/
}
